:root {
    /* ШРИФТ */
    --text-first: "DM Sans", sans-serif;
    --text-secondary: "Titan One", cursive;
    /* ПАЛИТРА ЦВЕТОВ */
    --accent-color: #d41443;
    /* кнопки, заголовки, цифры, ссылки при ховере, иконки при ховере ❗❗❗ */
    --background-pink: #ffb8ca;
    /* цвет Header, розовой карточки в Products 🟥 */
    --background-orange: #f0d1a5;
    /* оранжевая карточка в Products, background текста в Contacts 🍊 */
    --background-green: #c2e297;
    /* зеленая карточка в Products, background текста в Contacts 🍏 */
    --primary-white-color: #ffffff;
    /* текст в карточках, ссылках, цвет кнопок, цвет body 💯 */
    --button-gray: #ecebeb;
    /* цвет неактивных кнопок */
    --backgound-section: #fff5f6;
    /* цвет About, Footer, Advantages ⬜ */
    --background-label: #ffa5ba;
    /* цвет лейбла заголовка Products, About, Footer, времени в Contacts ⏰ */
    --background-menu: #e17992;
    /* мобильное меню ☎ */
    --text-color-black: #000000;
    /* текст черный ☢ */
    --text-color-gray: #907e82;
    /* текст серый ☣ */
}
           