<section class="advantages" id="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <p class="advantages-list__item-numbers">721</p>
                <p class="advantages-list__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__item-numbers">16kg</p>
                <p class="advantages-list__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__item-numbers">84</p>
                <p class="advantages-list__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>