    <!--header-->
   
    <header class="header">
        <div class="container header-container">

            <nav class="header__nav">
                <a class="header__logo" href=""><img src="/images//images_headder_hiro//logo 1.png" alt="/"></a>
                <ul class="menu-list">
                    <li class="menu-list__item"><a class="menu-list__link" href="">Home</a></li>
                    <li class="menu-list__item"><a class="menu-list__link" href="">About us</a></li>
                    <li class="menu-list__item"><a class="menu-list__link" href="">How it’s made?</a></li>
                    <li class="menu-list__item"><a class="menu-list__link" href="">Our products</a></li>
                    <li class="menu-list__item"><a class="menu-list__link" href="">Contact</a></li>
                </ul>
            </nav>
        <div class="btn-container">
            <button class="burger-btn" type="button" data-menu-open aria-expanded="false" aria-controls="mobile-menu">
                <svg class="burger-icon" width="20" height="12" aria-label="Переключатель мобильного меню">
                    <use href="/images/svg/icons.svg#icon-burger"></use>
                </svg>
            </button>

            <button class="header-btn" type="button">Buy now<svg class="mobile-btn-icon" width="8" height="8">
                        <use href="/images/svg/icons.svg#icon-icon_button_right"></use></button>
        </div>
            </div>
        <!-- mobile-menu -->
            <div class="mobile-menu" data-menu id="mobile-menu">
                <button class="mobile-btn-close" type="button" data-menu-close>
                    <svg class="mobile-close-icon" width="20" height="20">
                        <use href="/images/svg/icons.svg#icon-burger-close"></use>
                    </svg>
                </button>

                <button class="mobile-btn" type="button">Buy now<svg class="mobile-btn-icon" width="8" height="8">
                        <use href="/images/svg/icons.svg#icon-icon_button_right"></use></button>
            
                <div>
                    <ul class="mobile-menu-list">
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link" href="">Home</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link" href="">About us</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link" href="">How it’s made?</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link" href="">Our products</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link" href="">Contact</a></li>

                    </ul>
                </div>
            </div>
    </header>

  

   