    <!--header-hiro-->
    <section class="header-hiro-section">
    <header class="header">
        <div class="container headder-container">

            <nav class="header__nav">
                <a class="header__logo link" href=""></a>
                <ul class="menu-list list">
                    <li class="menu-list__item"><a class="menu-list__link link" href="">Home</a></li>
                    <li class="menu-list__item"><a class="menu-list__link link" href="">About us</a></li>
                    <li class="menu-list__item"><a class="menu-list__link link" href="">How it’s made?</a></li>
                    <li class="menu-list__item"><a class="menu-list__link link" href="">Our products</a></li>
                    <li class="menu-list__item"><a class="menu-list__link link" href="">Contact</a></li>
                </ul>
            </nav>

            <button class="burger-btn" type="button" data-menu-open aria-expanded="false" aria-controls="mobile-menu">
                <svg class="burger-icon" width="40" height="40" aria-label="Переключатель мобильного меню">
                    <use href=""></use>
                </svg>
            </button>

            <button class="mobile-btn" type="button">Buy now</button>

            <h1 class="title-headder-hiro-section"><span class="tittle-part">ice cream made with</span>passion</h1>
        </div>
        <!-- mobile-menu -->
            <div class="mobile-menu" data-menu id="mobile-menu">
                <button class="mobile-btn-close" type="button" data-menu-close>
                    <svg class="mobile-close-icon" width="40" height="40">
                        <use href=""></use>
                    </svg>
                </button>

                <button class="mobile-btn" type="button">Buy now</button>
            
                <div>
                    <ul class="mobile-menu-list list">
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link link" href="">Home</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link link" href="">About us</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link link" href="">How it’s made?</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link link" href="">Our products</a></li>
                        <li class="mobile-menu-list__item"><a class="mobile-menu-list__link link" href="">Contact</a></li>

                    </ul>
                </div>
            </div>
    </header>
    </section>

   