<section class="hero">

    <div class="container hero__container">

        <div class="hero__container--left">

            <div class="hero__description">

              <h1 class="hero-title">ice cream made with<span class="hero-title__part"> passion</span></h1>
    
                <ul class="btn-colection list">
                   <li class="btn-colection__item"><button class="btn-pre-hero__one" type="button">Products</button></li>
                   <li class="btn-colection__item"><button class="btn-pre-hero" type="button">How it’s made?</button></li>
                </ul>

            </div>

            <div class="left__description">
                <p class="left__description--text">Lorem ipsum dolor sit amet, 
                       consectetur adipiscing elit, 
                       sed do eiusmod tempor incididunt ut labore et</p>
                <button class="left__description--btn" type="button" title="">
            <svg class="left__description__btn-icon">
              <use href="./images/svg/icons.svg#arrow-right"></use>
            </svg>
          </button>
            </div>
            
        <div class="milk-img">
            <picture>
                    <source srcset="/images/images_headder_hiro/dekstop/jar-dekstop.png 1x, /images/images_headder_hiro/dekstop/jar-dekstop@2x.png 2x" media="(min-width: 1280px)" type="image/png" >
                    <source srcset="images/images_headder_hiro/tablet/jar-tablet.png 1x, /images/images_headder_hiro/tablet/jar-tablet@2x.png 2x" media="(min-width: 768px)" type="image/png">
                    <img class="" src="/images/images_headder_hiro/tablet/jar-tablet.png" alt="milk">
            </picture>
        </div>
            

            </div>
            <div class="ice-cream__pic">
                <picture>
                    <source srcset="/images/images_headder_hiro/dekstop/ice-dekstop.png 1x, /images/images_headder_hiro/dekstop/ice-dekstop@2x.png 2x" media="(min-width: 1280px)" type="image/png" >
                    <source srcset="/images/images_headder_hiro/tablet/ice-tablet.png 1x, /images/images_headder_hiro/tablet/ice-tablet@2x.png 2x" media="(min-width: 768px)" type="image/png">
                    <source srcset="/images/images_headder_hiro/mobile/ice-mobile.png 1x, /images/images_headder_hiro/mobile/ice-mobile@2x.png 2x" type="image/png">
                    <img class="" src="/images/images_headder_hiro/tablet/ice-tablet.png" alt="ice cream">
                </picture>
            </div>

                        <ul class="right__description">
                            <li class="right__description--item">
                                <p class="text__16">16</p>
                                <p class="text__pre">cafes</p>
                            </li>
                            <li class="right__description--item">
                                <p class="text__23">23</p>
                                <p class="text__pre">food truck</p>
                            </li>
                        </ul>

                <div  class="girl-img">
                    <picture>
                    <source srcset="/images/images_headder_hiro/dekstop/girl-dekstop.png 1x, /images/images_headder_hiro/dekstop/girl-dekstop@2x.png 2x" media="(min-width: 1280px)" type="image/png" >
                    <source srcset="images/images_headder_hiro/tablet/girl-tablet.png 1x, /images/images_headder_hiro/tablet/girl-tablet@2x.png 2x" media="(min-width: 768px)" type="image/png">
                    <img class="" src="/images/images_headder_hiro/tablet/girl-tablet.png" alt="girl">
                </picture>
                </div>

            </div>
</section>

            <!-- <div class="about__img">
                <picture>
                    <source srcset="/images/about/dekstop/cow-dekstop.png 1x, /images/about/dekstop/cow-dekstop@2x.png 2x" media="(min-width: 1280px)" type="image/png" >
                    <source srcset="/images/about/tablet/cow-tablet.png 1x, /images/about/tablet/cow-tablet@2x.png 2x" media="(min-width: 768px)" type="image/png">
                    <source srcset="/images/about/mobile/cow-mobile.png 1x, /images/about/mobile/cow-mobile@2x.png 2x" type="image/png">
                    <img class="about__img" src="/images/about/dekstop/cow-dekstop.png" alt="cow/milk">
                </picture>
            </div> -->