
        <!--modal-->

        <div class="backdrop is-hidden" data-modal>

            <div class="modal">

                <p class="modal-title">Leave your details, we will call you back</p>

                <button class="button-close" type="button" data-modal-close>
                    <svg class="close" width="11" height="11">
                        <use href="/images/svg/icons.svg#icon-close"></use>
                    </svg>
                </button>

                <form class="hiro-form">

                    <label class="hiro-form-text">
                        Name
                        <span class="modal-form-block">
                            <input class="hiro-form-input" name="user-name" minlength="2" 
                            pattern="[a-zA-Zа-яёА-ЯЁ]+" title="Имя должно содержать символы кириллицы или латиницы" type="text" placeholder="Name" required>
                            <svg class="modal-form-icon" width="18" height="18">
                                <use href=""></use>
                            </svg>
                        </span>
                    </label>

                    <label class="hiro-form-text">
                        Mail
                        <span class="modal-form-block">
                            <input class="hiro-form-input" name="email" type="email" placeholder="example@gmail.com" required>
                            <svg class="modal-form-icon" width="18" height="18">
                                <use href=""></use>
                            </svg>
                        </span>
                    </label>

                    <label class="hiro-form-text">
                        Tel
                        <span class="modal-form-block">
                            <input class="hiro-form-input" type="tel" name="user-tel" placeholder="+380-00-000-00-00"
                            pattern="^\+380-\d{2}-\d{3}-\d{2}-\d{2}$" title="Номер должен содержать пробелы" required>
                            <svg class="modal-form-icon" width="18" height="18">
                                <use href=""></use>
                            </svg>
                        </span>
                    </label>

                    <label class="hiro-comment-text">
                        Comment
                            <textarea class="hiro-comment-input" name="comment" placeholder="Enter text"></textarea>
                    </label>
                    
                        <label class="check">
                            <input class="check-input" type="checkbox" />
                            <span class="check-box"></span>
                            I accept the terms of mailing&nbsp; <a class="check-box-linc" href="#">terms</a>
                        </label>
                    

                    <button class="hiro-form-button" type="submit">Send</button>
                </form>
            </div>
        </div>