<section class="section-products">
  <div class="container-products">
    <p class="section-products__label section-products__label--margin">100% natural</p>
    <h2 class="section-products__title section-products__title--margin">products</h2>
    <ul class="products">
      <li class="products__item products__item--ice-cream-img">
        <div class="products__container products__container--color-ice-cream">
          <h3 class="products__title products__text--margin">ice cream</h3>
          <p class="products__text products__text--margin">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products__btn" type="button" title="open recipe">
            <svg class="products__btn-icon">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item products__item--ice-coffee-img">
        <div class="products__container products__container--color-ice-coffee">
          <h3 class="products__title products__text--margin">ice coffee</h3>
          <p class="products__text products__text--margin">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products__btn" type="button" title="open recipe">
            <svg class="products__btn-icon">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item products__item--milkshakes-img">
        <div class="products__container products__container--color-milkshakes">
          <h3 class="products__title products__text--margin">milkshakes</h3>
          <p class="products__text products__text--margin">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products__btn" type="button" title="open recipe">
            <svg class="products__btn-icon">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
