.section__about {
    position: relative;
    background: #fff5f6;
    padding-top: 125px;
    padding-bottom: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (min-width: 1280px) {
        background-image: url("/images/about/dekstop/bg-dekstop.png");
        background-position: 0 100%;
        background-repeat: no-repeat;
      }
      @media not all, screen and (max-width: 767px) and (min-resolution: 2dppx), screen and (max-width: 767px) and (min-resolution: 192dpi){
          background-image: url("/images/about/mobile/bg-mobile@2x.png");
          background-repeat: no-repeat;
      }
       @media screen and (max-width: 767px) {
           background-image: url("/images/about/mobile/bg-mobile.png");
           background-position: 0 90%;
      }
}

.section__label-about {
font-family: Titan One;
font-size: 18px;
line-height: 1.16;
text-align: center;
text-transform: uppercase;
color: #FFA5BA;
}
.section__title-about {
font-family: Titan One;
font-size: 34px;
line-height: 39px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #D41443;
}
.about__flex {
    @media  screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
     @media  screen and (min-width: 1280px) {
         display: flex;
         justify-content: center;
     }
}
.about__img {
    display: block;
    height: auto;
    margin: 0 auto;
}
.about__list {
    margin: 0 auto;
    @media screen and (min-width: 480px){
        width: 220px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 50px;
        margin-left: 17px;
        width: 340px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 51px;
        margin-left: 74px;
        width: 463px;
    }
}
.about__description {
font-family: DM Sans;
margin-bottom: 46px;
font-weight: 500;
font-size: 12px;
line-height: 1.62;
color: #000000;
    @media screen and (min-width: 768px) {
        margin-bottom: 49px;
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1280px){
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 1.92;
    }
}
.about__text {
font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 1.62;
color: #907E82;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1280px){
        margin-bottom: 45px;
        line-height: 1.92;
    }
}
.about__note {
font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 1.62;
color: #907E82;
    @media screen and (min-width: 768px) {
        margin-bottom: 62px;
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1280px){
        line-height: 1.92;
    }
}
.about__text .about__note {
    margin-bottom: 20px;
}
.text--position {
    text-align: center;
}
.button-white {
    font-family: DM Sans;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.28;
    align-items: center;
    text-align: center;
    padding: 12px 37px;
    color: #d41443;
    width: 176px;
    height: 44px;
    background: #fff;
    border-radius: 22px;
    border: none;
    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}
