.advantages {
  padding-bottom: 97px;
  background-color: var(--background-section);

  @media screen and(min-width: 768px) {
    padding-bottom: 140px;
  }
  @media screen and(min-width: 1200px) {
    padding-bottom: 139px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-bottom: -60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.advantages-list__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  &::before {
    margin-bottom: 16px;
    @media screen and(min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and(min-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  &:nth-child(1)::before {
    content: ' ';
    display: block;
    background-image: url(../images/advantages/advantages-milk.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  &:nth-child(2)::before {
    content: ' ';
    display: block;
    background-image: url(../images/advantages/advantages-bucket.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  &:nth-child(3)::before {
    content: ' ';
    display: block;
    background-image: url(../images/advantages/advantages-heart.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
}

.advantages-list__item-numbers {
  font-family: var(--text-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;

  @media screen and(min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    text-transform: none;
    margin-bottom: 13px;
  }
  @media screen and(min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
  }
}

.advantages-list__item-text {
  font-family: var(--text-first);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6;
  color: var(--text-color-black);
  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }
  @media screen and(min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
