.contacts {
  padding-top: 50px;
  padding-bottom: 113px;
  background-color: var(--background-section);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 767px) {
    background: linear-gradient(
      to bottom,
      var(--primary-white-color) 172px,
      var(--background-section) 172px
    );
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 165px;
    background: linear-gradient(
      to bottom,
      var(--primary-white-color) 197px,
      var(--background-section) 197px
    );
  }

  @media screen and (min-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 165px;

    background-image: url(../images/contacts/bg-contacts.png),
      linear-gradient(to bottom, var(--primary-white-color) 230px, var(--background-section) 230px);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/contacts/bg-contacts@2x.png'),
        linear-gradient(
          to bottom,
          var(--primary-white-color) 230px,
          var(--background-section) 230px
        );
    }
  }
}
.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-left: -20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -30px;
  }
}

.contacts-list__item {
  max-width: 220px;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 43px 20px;

  font-size: 12px;
  line-height: 1.86;
  background: var(--primary-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    width: 330px;
    margin-left: 20px;
    margin-bottom: 0;
    flex-basis: calc((100% - 3 * 20px) / 3);
    font-size: 14px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}

.contacts-list__card-city {
}

.contacts-list__card-city-item + .contacts-list__card-city-item {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 10px;
  }
}
.contacts-list__card-city,
.contacts-list__card-time {
  &::after {
    display: block;
    width: 100%;
    margin: 25px 0;
    content: '';
    border-bottom: 1px solid var(--line-contacts);
    @media screen and (min-width: 768px) {
      margin: 30px 0;
    }
    @media screen and (min-width: 1200px) {
      margin: 32px 0;
    }
  }
}

.place-card {
  display: inline-flex;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--background-orange);
  color: var(--primary-white-color);
  padding: 0 25px;
  margin-bottom: 25px;

  border-radius: 6px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.contacts-list__item:nth-child(2) {
  .place-card {
    background-color: var(--background-green);
  }
}
.city-card {
  color: var(--text-color-black);
}
.text-card {
  color: var(--text-color-gray);
}

.contacts-list__card-time {
}
.contacts-list__card-time-item + .contacts-list__card-time-item {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 15px;
  }
}

.day-card {
}
.time-card {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--background-label);
}

.contacts-list__card-telephone {
}
.contacts-number-card {
}
.contacts-number-card,
.contacts-mail-card {
  color: var(--text-color-gray);
  &:hover, &:focus {
    color: var(--accent-color);
  }
}

.contacts-mail-card {
}

// BUTTONS
.contacts-button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 81px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 86px;
  }
}

.contacts-button-list__item + .contacts-button-list__item {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 15px;
  }
}

.contacts-button {
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  min-width: 161px;
  padding: 0 17px;
  height: 44px;
  border: none;
  
  &:hover {

  }
}

.contacts-button-icon {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-top: 2px;
  fill: currentColor;
  
}

.contacts-button__map {
background-color: var(--accent-color);
color: var(--primary-white-color);
}
.contacts-button__franchise {
  background-color: var(--primary-white-color);
color: var(--accent-color);

}

