.section-reviews {
  padding-top: 120px;
}

.container.container-reviews {
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 74px;
    padding-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 137px;
    padding-right: 137px;
  }
}

.reviews__item {
  position: relative;
}

.reviews__picture-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}

.reviews__comment {
  margin-bottom: 50px;
  padding: 40px 50px 20px;
  background-color: #fafafa;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    padding: 30px 38px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    padding: 32px 50px;
  }
}

.reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--text-color-black);
  position: relative;
  z-index: 14;
  padding-left: 10px;
  padding-right: 10px;

  background: repeating-linear-gradient(to bottom, transparent 0 29px, #e1e1e1 0 30px);

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.reviews__text::before {
  content: '';
  position: absolute;
  width: 54px;
  height: 40px;
  z-index: -1;

  top: -15px;
  left: 10px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url('../images/svg/marks.svg');

  @media screen and (min-width: 768px) {
    left: 0;
  }
}

.reviews__lable {
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: var(--text-color-black);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.slider__markeкs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.slider__markeкs-icon {
  width: 4px;
  height: 4px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.reviews__markeкs {
  display: flex;
  justify-content: center;
}

.reviews__icon {
  width: 12px;
  height: 12px;

  &:not(:last-child) {
    margin-right: 18px;
  }
}

// slider

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--accent-color);
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 5px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.5;
  color: var(--accent-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  position: absolute;
  bottom: 80px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: var(--accent-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
